& .header-inner{
    width: 100%;
    height:71.683rem;
    background-image: url("./../assets/images/header__inner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

   
}
 @media(max-width: 768px){
    & .header-inner{
        height: 20rem;
    }
    }