& .slider-section-secondColumn{
        width:100%;
        max-width:87.6rem;

        & .sliderBlock-section{
             position:relative;
             display:flex;
             gap:2.4rem;
             overflow-x: hidden;
             z-index:100;
        }

        & .sliderBlock{
            display:flex;
            flex-direction: column;


            .sliderHorizontal-container {
                position: relative;
                width: 100%;
                overflow: hidden;
        }



.horizontal-slide {
    flex: 0 0 calc(100% / 3 - 2.4rem);
    min-width: 0;
    transition: transform 0.3s ease;
}


            & .sliderBlockHorizontal{
                position:relative;
                width:100%;
                display:flex;
                gap:2.4rem;
                overflow-x: hidden;
                margin-bottom:4.8rem;
                z-index:100;

               

                & .sliderHorizontal-button{
                    position:absolute;
                    top:26.7rem;
                    left:34.5rem;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    width:4.8rem;
                    height:4.8rem;
                    border-radius:50%;
                    background-color:var(--white);
                    filter:drop-shadow(0 0.4rem 0.8rem rgba(0, 0, 0, 0.2));
                    cursor: pointer;
                    z-index: 1000;

                }

                & .left{
                    left:0rem;
                    transform: rotate(180deg);
                    z-index:1000;
                }

                & .hide{
                    display:none;
                }

                @media(max-width: 980px){
                    & .sliderHorizontal-button{
                        position: absolute;
                        left:22.2rem;
                    }

                    & .left{
                        left:0rem;
                    }
                }
            }

            & .sliderBlockHorizontal-buttons{
                width:12rem;
                display:flex;
                justify-content:space-between;

                & .sliderBlock-button{
                    width:1.1rem;
                    height:1.1rem;
                    border-radius:50%;
                    background-color:var(--sliderGrey);
                    display:flex;
                }
                & .sliderBlock-button:first-child{
                    margin-right:1.8rem;
                }
                
                & .sliderButtonActive{
                    background-color: var(--lightBrown);
                    outline: 0.1rem solid var(--lightBrown);
                    outline-offset: 0.8rem;
                }
            }
        }
        & .sliderInfoBlock{
            position:absolute;
            bottom:2.4rem;
            left:2.4rem;
            display:flex;
            align-items: flex-end;
            z-index:1000;

            & .sliderInfoText{
                display:flex;
                flex-direction: column;
                width:21.7rem;
                height:13rem;
                font-size:var(--16px);
                color:var(--semiDarkGrey);
                font-weight:500;
                background-color: rgba(255, 255, 255, 0.72);
                padding:3.2rem 1.7rem 3.2em 3.2rem;

                & .sliderInfoText-numberSection{
                    display:flex;
                    align-items: center;
                    line-height:1.5;
                    
                    & .sliderInfoTetx-line{
                        width:2.7rem;
                        height:0.1rem;
                        background-color: var(--semiDarkGrey);
                        margin-left:0.8rem;
                        margin-right:0.8rem;
                    }
                }

                & .sliderInfoText-title{
                    font-size:var(--28px);
                    color:var(--lightLightBlack);
                    font-weight:600;
                    margin-top:0.8rem;
                    line-height: 1.2;
                }

            }
        }

        & .sliderBlock-arrow{
          width:4.8rem;
          height:4.8rem;
          background-color: var(--lightBrown);
          display:flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
    }